:root {
  --text: hsl(245, 50%, 91%);
  --base: hsl(249, 22%, 12%);
  --surface: hsl(247, 23%, 15%);
  --surface-transparent: hsla(247, 23%, 15%, 0.494);
  --overlay: hsl(248, 25%, 18%);
  --muted: hsl(249, 12%, 47%);
  --highlight-low: hsl(244, 18%, 15%);
  --highlight-med: hsl(249, 15%, 28%);
  --highlight-high: hsl(248, 13%, 36%);
  --love: hsl(343deg 76% 68%);
  --pine: hsl(197deg 49% 38%);
  --gold: hsl(35deg 88% 72%);
  --iris: hsl(267deg 57% 78%);
  --rose: hsl(2deg 55% 83%);
  --foam: hsl(189deg 43% 73%);
}

body {
  background-color: var(--base) !important;
}

/* Text */
.r-jwli3a,
.r-1nao33i,
.r-18jsvk2 {
  color: var(--text);
}

.r-yyyyoo {
  fill: currentcolor;
}

.r-13v1u17 {
  color: var(--muted);
}

/* Background */
.r-kemksi {
  background-color: var(--base);
}

.r-g2wdr4,
.r-1sw30gj,
.r-x572qd {
  background-color: var(--surface);
}

/* Border */
.css-1dbjc4n,
.css-901oao {
  border-color: var(--highlight-med) !important;
}

.r-gu4em3 {
  background-color: var(--highlight-high);
}

/* Searchbar */
.r-5zmot {
  background-color: var(--surface-transparent);
}

.r-z32n2g {
  background-color: var(--surface);
}

/** Accent Colours **/
.r-4nw3r4 {
  background-color: var(--love);
}

.r-vkub15 {
  color: var(--love);
}

.r-l5o3uw {
  background-color: var(--pine);
}

.r-1to6hqq {
  background-color: var(--gold);
}

.css-1dbjc4n.r-11rk87y.r-1dye5f7 > div:nth-child(6) > div > div > div:nth-child(2) > label > svg {
  color: var(--gold) !important;
}

.r-168457u {
  background-color: var(--iris);
}

.css-1dbjc4n.r-11rk87y.r-1dye5f7 > div:nth-child(6) > div > div > div:nth-child(4) > label > svg {
  color: var(--iris) !important;
}

.r-2r9icm {
  background-color: var(--rose);
}

.css-1dbjc4n.r-11rk87y.r-1dye5f7 > div:nth-child(6) > div > div > div:nth-child(5) > label > svg {
  color: var(--rose) !important;
}

.r-s224ru {
  background-color: var(--foam);
}

.css-1dbjc4n.r-11rk87y.r-1dye5f7 > div:nth-child(6) > div > div > div:nth-child(6) > label > svg {
  color: var(--foam) !important;
}

/* Accent Selection */
.css-1dbjc4n.r-11rk87y.r-1dye5f7 > div:nth-child(6) > div > div > div:nth-child(2) > label > svg {
  color: var(--gold);
}

.css-1dbjc4n.r-11rk87y.r-1dye5f7 > div:nth-child(6) > div > div > div:nth-child(4) > label > svg {
  color: var(--iris);
}

.css-1dbjc4n.r-11rk87y.r-1dye5f7 > div:nth-child(6) > div > div > div:nth-child(5) > label > svg {
  color: var(--rose);
}

.css-1dbjc4n.r-11rk87y.r-1dye5f7 > div:nth-child(6) > div > div > div:nth-child(6) > label > svg {
  color: var(--foam);
}

/* Hover */
.r-1vtznih {
  background-color: var(--pine);
}

.r-8g4rmw {
  background-color: var(--iris);
}

.r-m5n1nr {
  background-color: var(--gold);
}

.r-1r4f3zc {
  background-color: var(--love);
}

.r-oo8a77 {
  background-color: var(--rose);
}

.r-1iwjfv5 {
  background-color: var(--foam);
}